/*applying styles*/







.banner {
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgb(0, 105, 128));
   background: url("login.webp"); 
   background-position: center;
   background-size: cover;
}

.logo {
    width: 120px;
}

.navbar{
    width: 80;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 30px 0;
}

.navbar ul {

}

.navbar ul li::after {
    content: "";
    background-color: aliceblue;
    width: 0;
    height: 4px;
    bottom: -10px;
    left: 0;
    position: absolute;
    transition: 0.8s;
}

.navbar ul li:hover::after {
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
}

.navbar ul li:hover::after {
    width: 100px;
}