h1 {
    color: blue;
    background-color: aqua;
}
input {
    border-radius: 500px;
    padding: 5px;
    width: 200px;
    height: 35px;
  }
  
fieldset {
    border-radius: 30px;
    border: 6px solid green;
    background-color: antiquewhite;
    padding: 20px;
    width: 400px;
    height: 180px;
    z-index: -1;
  }
